<a href="https://colab.research.google.com/github/mauricionoronha/segturno2022/blob/main/Eleicoes2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ACOMPANHANDO AS APURAÇÕES DA ELEIÇÃO DE SEGUNDO TURNO PARA PRESIDENTE 2022 EM TEMPO REAL

Neste projeto, usando o API do TSE, conseguiremos visualizar em tempo real as apurações de segundo turno para Presidente da República em 2022.

Importando as bibliotecas necessárias:
* Pandas - para manipular o dataframe
* Requests - para puxar os dados do API do TSE
* Json - para visualizar os dados do API

In [16]:
import pandas as pd
import requests
import json

In [17]:
apura = requests.get("https://resultados.tse.jus.br/oficial/ele2022/545/dados-simplificados/br/br-c0001-e000545-r.json")
apura = apura.json()

In [18]:
print(apura)

{'ele': '545', 'tpabr': 'br', 'cdabr': 'br', 'carper': '1', 'md': 'N', 't': '2', 'f': 'o', 'dg': '30/10/2022', 'hg': '18:27:48', 'dt': '30/10/2022', 'ht': '18:27:36', 'dv': 's', 'tf': 'n', 'v': '1', 'esae': 'n', 'mnae': '', 's': '472075', 'st': '240390', 'pst': '50,92', 'snt': '231685', 'psnt': '49,08', 'si': '240343', 'psi': '50,91', 'sni': '47', 'psni': '49,09', 'sa': '240343', 'psa': '100,00', 'sna': '0', 'psna': '0,00', 'e': '156454011', 'ea': '78957621', 'pea': '100,00', 'ena': '0', 'pena': '0,00', 'esi': '78957621', 'pesi': '50,46', 'esni': '657', 'pesni': '100,00', 'c': '62754707', 'pc': '79,47', 'a': '16202914', 'pa': '20,53', 'vscv': '0', 'vnom': '60000872', 'pvnom': '100,00', 'vvc': '60000872', 'pvvc': '95,61', 'vb': '867647', 'pvb': '1,38', 'tvn': '1886188', 'ptvn': '3,01', 'vn': '1886188', 'pvn': '100,00', 'vnt': '0', 'pvnt': '0,00', 'vp': '0', 'pvp': '0,00', 'vv': '60000872', 'pvv': '100,00', 'van': '0', 'pvan': '0,00', 'vansj': '0', 'pvansj': '0,00', 'tv': '62754707', 'cand': [{'seq': '1', 'sqcand': '280001618036', 'n': '22', 'nm': 'JAIR BOLSONARO', 'cc': 'PL - PP / REPUBLICANOS / PL', 'nv': 'BRAGA NETTO', 'e': 'n', 'st': '', 'dvt': 'Válido', 'vap': '30179145', 'pvap': '50,30'}, {'seq': '2', 'sqcand': '280001607829', 'n': '13', 'nm': 'LULA', 'cc': 'PT - Federação Brasil da Esperança - FE BRASIL (PT/PC do B/PV) / SOLIDARIEDADE / Federação PSOL REDE (PSOL/REDE) / PSB / AGIR / AVANTE / PROS', 'nv': 'GERALDO ALCKMIN', 'e': 'n', 'st': '', 'dvt': 'Válido', 'vap': '29821727', 'pvap': '49,70'}]}

In [19]:
df = pd.DataFrame.from_dict(apura["cand"])
df

,seq,sqcand,n,nm,cc,nv,e,st,dvt,vap,pvap
0,1,280001618036,22,JAIR BOLSONARO,PL - PP / REPUBLICANOS / PL,BRAGA NETTO,n,,Válido,30179145,"50,30"
1,2,280001607829,13,LULA,PT - Federação Brasil da Esperança - FE BRASIL...,GERALDO ALCKMIN,n,,Válido,29821727,"49,70"

In [20]:
df[["nm","vap","pvap"]]

               nm       vap   pvap
0  JAIR BOLSONARO  30179145  50,30
1            LULA  29821727  49,70

Criando uma função para baixar o API

In [21]:
def download_arquivo():
    apura = requests.get("https://resultados.tse.jus.br/oficial/ele2022/545/dados-simplificados/br/br-c0001-e000545-r.json")
    apura = apura.json()
    return apura

Criando uma função para limpar os dados, retornando apenas:
* nm - Nome dos candidatos
* vap - Quantidade de votos válidos
* pvap - % de votos válidos

In [22]:
def tratar_df(json):
    df = pd.DataFrame.from_dict(apura["cand"])
    df[["nm","vap","pvap"]]
    return df

Importando as bibliotecas:
* Time - para criar um contador de tempo da atualização dos dados
* Clear_output - para limpar a tela depois da atualização

In [35]:
import time
from IPython.display import clear_output

Criando um loop while que irá:
1.  Chamar as funções download_arquivos e tratar_df
2.  Mostrar o resultado
3.  Aguardar 15 segundos
4.  Limpar a saída de dados
5.  Retornar ao início

In [ ]:
while True:
    json = download_arquivo()
    df = tratar_df(json)
    print(df[["nm","vap","pvap"]])
    time.sleep(15)
    clear_output()